body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  font-size: 17px;
  line-height: 30px;
}
#danmu {
  background-color: #e4e7ec;
  width: 100%;
  height: 360px;
  overflow: hidden;
  position: relative;
}
#danmu div {
  width: auto;
  height: 32px;
  position: absolute;
  font-weight: 700;
  right: 0;
  white-space: nowrap;
}
#form {
  background-color: #263959;
  padding: 20px;
  display: flex;
}
button,
input {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 10px;
  margin-left: 20px;
  border: none;
  background-color: #55967e;
  color: #e4e7ec;
}
.btn-default {
  padding: 10px 40px;
}
.btn-primary {
  padding: 10px 20px;
}
.form-control {
  margin-left: 0;
  flex: 1;
  background-color: #6d819c;
}

.form-control::-webkit-input-placeholder { /* WebKit browsers */ 
  color: #263959 !important; 
} 
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
  color: #263959 !important; 
} 
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */ 
  color: #263959 !important; 
} 
.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */ 
  color: #263959 !important; 
} 